@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

Header{
     background-color:  #94D0CC !important;
     color:  white   ;
     padding-left: 35rem ;
    

    .headerStyle {
      font-family: 'Merienda', cursive !important;
    }





}