.App {
  text-align: center;
  
}


 

.App-header {
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

* {
  font-family: 'Merienda', cursive !important;
  background-color: #eec4c407;
  /* font-size: .7rem; */
  font-weight:bold !important;
}


 
 