.App {
  text-align: center;
  
}

.App-header {
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

* {
  font-family: 'Merienda', cursive !important;
  background-color: #eec4c407;
  /* font-size: .7rem; */
  font-weight:bold !important;
}
.btnCategory {
  
  background-color:  white !important;
  color:  rgba(0, 0, 0, 0.829) !important;
 font-size:  1.3rem!important;
 margin :1.5rem !important;
 box-shadow: black inset ;
 border-radius: 12px !important; 
 box-shadow:20px 20px 50px 10px inset rgba(0, 0, 255, 0.534) !important;  
}

 .dataCardName {
  color:  black !important;
  text-align: center !important;
}
.dataCardPrice {
  color: rgba(0, 0, 0, 0.603)!important;
  text-align:center
}
.dataCardStock{
  color:  black !important;
  text-align: center !important;
}
 
.choiceBtn {
  color: black!important;
 background-color:  #ec5858b0 !important;
 margin-left: 1.5rem !important;
}
  